@model IEnumerable<CPT373_AS2.Models.UserTemplate>
@using Newtonsoft.Json

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm())
    {
    <p>
        Filter by Name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cells)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Width)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Cells)*@
            @* http://mvcsteps.blogspot.com.au/2013/05/display-multiline-text-in-razor.html *@
            @*@Html.Raw(item.Cells.Replace(Environment.NewLine, "<br/>"))*@
            <pre style="display: inline-block">@Html.DisplayCells(modelItem => item.Cells)</pre>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @*http://forums.asp.net/t/1894436.aspx?ActionLink+To+Different+Controller+What+Am+I+Missing+*@
            @*http://stackoverflow.com/questions/776781/using-html-actionlink-to-call-action-on-different-controller*@
            @Html.ActionLink("Create Active Game", "Create", "UserGames", new { id=item.UserTemplateID }, null) |
            @Html.ActionLink("Details", "Details", new { id=item.UserTemplateID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserTemplateID })
        </td>
    </tr>
}

</table>



<div class="container">
    <h1 class="col-xs-12">User Templates</h1>

    <div id="columns">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/salvattore.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script>
        $(function() {
            console.log( "ready!" );
            IterateModel();
        });

        function IterateModel() {
            var list = @Html.Raw(@JsonConvert.SerializeObject(Model,
                        new JsonSerializerSettings
                        { PreserveReferencesHandling = PreserveReferencesHandling.All }));

            //for (i = 0; i < .Count()) {
            //    console.log(list[i].Name, list[i].User.Email)
                //append(list[i].Name, list[i].User.Email)

            //}

        }



        //function append(title, content) {
        //    var grid = document.querySelector('#columns');
        //    var item = document.createElement('div');
        //    var h = '<div class="panel panel-primary">';
        //    h += '<div class="panel-heading">';
        //    h += title;
        //    h += '</div>';
        //    h += '<div class="panel-body">';
        //    h += content;
        //    h += '</div>';
        //    h += '</div>';
        //    salvattore.appendElements(grid, [item]);
        //    item.outerHTML = h;
        //}


    </script>  
    
    
    
    
    
}
